body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1266 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1267 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u1268 {
  position:absolute;
  left:2px;
  top:326px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u1269 {
  position:absolute;
  left:349px;
  top:3px;
  width:20px;
  height:18px;
}
#u1270 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:14px;
}
#u1271 {
  position:absolute;
  left:63px;
  top:3px;
  width:39px;
  height:14px;
  font-size:12px;
  color:#000000;
}
#u1272 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
}
#u1273 {
  position:absolute;
  left:172px;
  top:1px;
  width:33px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u1274 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u1275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
}
#u1275 {
  position:absolute;
  left:314px;
  top:4px;
  width:33px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u1276 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u1277 {
  position:absolute;
  left:8px;
  top:7px;
  width:8px;
  height:8px;
}
#u1278 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u1279 {
  position:absolute;
  left:18px;
  top:7px;
  width:8px;
  height:8px;
}
#u1280 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u1281 {
  position:absolute;
  left:28px;
  top:7px;
  width:8px;
  height:8px;
}
#u1282 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u1283 {
  position:absolute;
  left:40px;
  top:7px;
  width:8px;
  height:8px;
}
#u1284 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u1285 {
  position:absolute;
  left:51px;
  top:7px;
  width:8px;
  height:8px;
}
#u1286 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u1287 {
  position:absolute;
  left:0px;
  top:66px;
  width:375px;
  height:1px;
}
#u1288 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u1289 {
  position:absolute;
  left:10px;
  top:33px;
  width:17px;
  height:17px;
}
#u1290 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1291_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:600px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1291 {
  position:absolute;
  left:0px;
  top:67px;
  width:375px;
  height:600px;
}
#u1292 {
  position:absolute;
  left:2px;
  top:292px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1293_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u1293 {
  position:absolute;
  left:158px;
  top:31px;
  width:65px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u1294 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1295 {
  position:absolute;
  left:0px;
  top:23px;
  width:100px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1296_img {
  position:absolute;
  left:0px;
  top:0px;
  width:575px;
  height:2px;
}
#u1296 {
  position:absolute;
  left:406px;
  top:66px;
  width:574px;
  height:1px;
}
#u1297 {
  position:absolute;
  left:2px;
  top:-8px;
  width:570px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1298_div {
  position:absolute;
  left:0px;
  top:0px;
  width:574px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1298 {
  position:absolute;
  left:406px;
  top:77px;
  width:574px;
  height:16px;
}
#u1299 {
  position:absolute;
  left:0px;
  top:0px;
  width:574px;
  word-wrap:break-word;
}
#u1300_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1300 {
  position:absolute;
  left:62px;
  top:91px;
  width:163px;
  height:16px;
}
#u1301 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u1302_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1302 {
  position:absolute;
  left:62px;
  top:132px;
  width:135px;
  height:16px;
}
#u1303 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u1304_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:25px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1304 {
  position:absolute;
  left:13px;
  top:87px;
  width:39px;
  height:25px;
}
#u1305 {
  position:absolute;
  left:2px;
  top:4px;
  width:35px;
  word-wrap:break-word;
}
#u1306_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:25px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1306 {
  position:absolute;
  left:13px;
  top:128px;
  width:39px;
  height:25px;
}
#u1307 {
  position:absolute;
  left:2px;
  top:4px;
  width:35px;
  word-wrap:break-word;
}
#u1308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:2px;
}
#u1308 {
  position:absolute;
  left:13px;
  top:119px;
  width:348px;
  height:1px;
}
#u1309 {
  position:absolute;
  left:2px;
  top:-8px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1310_img {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:2px;
}
#u1310 {
  position:absolute;
  left:13px;
  top:160px;
  width:348px;
  height:1px;
}
#u1311 {
  position:absolute;
  left:2px;
  top:-8px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1312 {
  position:absolute;
  left:13px;
  top:85px;
  width:346px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
