body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:376px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u901 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u902 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u903 {
  position:absolute;
  left:2px;
  top:326px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u904 {
  position:absolute;
  left:349px;
  top:3px;
  width:20px;
  height:18px;
}
#u905 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:14px;
}
#u906 {
  position:absolute;
  left:63px;
  top:3px;
  width:39px;
  height:14px;
  font-size:12px;
  color:#000000;
}
#u907 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
}
#u908 {
  position:absolute;
  left:172px;
  top:1px;
  width:33px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u909 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
}
#u910 {
  position:absolute;
  left:314px;
  top:4px;
  width:33px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u911 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u912 {
  position:absolute;
  left:8px;
  top:7px;
  width:8px;
  height:8px;
}
#u913 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u914 {
  position:absolute;
  left:18px;
  top:7px;
  width:8px;
  height:8px;
}
#u915 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u916 {
  position:absolute;
  left:28px;
  top:7px;
  width:8px;
  height:8px;
}
#u917 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u918 {
  position:absolute;
  left:40px;
  top:7px;
  width:8px;
  height:8px;
}
#u919 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u920 {
  position:absolute;
  left:51px;
  top:7px;
  width:8px;
  height:8px;
}
#u921 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u922 {
  position:absolute;
  left:0px;
  top:66px;
  width:375px;
  height:1px;
}
#u923 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u924 {
  position:absolute;
  left:10px;
  top:33px;
  width:17px;
  height:17px;
}
#u925 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:666px;
}
#u926 {
  position:absolute;
  left:1px;
  top:22px;
  width:375px;
  height:666px;
}
#u927 {
  position:absolute;
  left:2px;
  top:325px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u928 {
  position:absolute;
  left:0px;
  top:22px;
  width:100px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
