body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:376px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u956 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u957 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u958 {
  position:absolute;
  left:2px;
  top:326px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u959 {
  position:absolute;
  left:349px;
  top:3px;
  width:20px;
  height:18px;
}
#u960 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:14px;
}
#u961 {
  position:absolute;
  left:63px;
  top:3px;
  width:39px;
  height:14px;
  font-size:12px;
  color:#000000;
}
#u962 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
}
#u963 {
  position:absolute;
  left:172px;
  top:1px;
  width:33px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u964 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
}
#u965 {
  position:absolute;
  left:314px;
  top:4px;
  width:33px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u966 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u967 {
  position:absolute;
  left:8px;
  top:7px;
  width:8px;
  height:8px;
}
#u968 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u969 {
  position:absolute;
  left:18px;
  top:7px;
  width:8px;
  height:8px;
}
#u970 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u971 {
  position:absolute;
  left:28px;
  top:7px;
  width:8px;
  height:8px;
}
#u972 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u973 {
  position:absolute;
  left:40px;
  top:7px;
  width:8px;
  height:8px;
}
#u974 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u975 {
  position:absolute;
  left:51px;
  top:7px;
  width:8px;
  height:8px;
}
#u976 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u977 {
  position:absolute;
  left:0px;
  top:66px;
  width:375px;
  height:1px;
}
#u978 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u979 {
  position:absolute;
  left:10px;
  top:33px;
  width:17px;
  height:17px;
}
#u980 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:666px;
}
#u981 {
  position:absolute;
  left:1px;
  top:22px;
  width:375px;
  height:666px;
}
#u982 {
  position:absolute;
  left:2px;
  top:325px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u983 {
  position:absolute;
  left:0px;
  top:22px;
  width:100px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
