body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:50px;
  background:inherit;
  background-color:rgba(230, 233, 237, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#2A3542;
  text-align:left;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:50px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#2A3542;
  text-align:left;
}
#u1 {
  position:absolute;
  left:2px;
  top:14px;
  width:996px;
  word-wrap:break-word;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:958px;
  height:719px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(241, 242, 247, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  position:absolute;
  left:20px;
  top:75px;
  width:958px;
  height:719px;
}
#u3 {
  position:absolute;
  left:2px;
  top:352px;
  width:954px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:959px;
  height:2px;
}
#u4 {
  position:absolute;
  left:20px;
  top:122px;
  width:958px;
  height:1px;
}
#u5 {
  position:absolute;
  left:2px;
  top:-8px;
  width:954px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  line-height:28px;
}
#u6 {
  position:absolute;
  left:61px;
  top:133px;
  width:270px;
  height:56px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  line-height:28px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:61px;
  top:239px;
  width:469px;
  height:209px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u12 {
  position:absolute;
  left:100px;
  top:0px;
  width:131px;
  height:30px;
  text-decoration:underline;
  color:#0000FF;
  text-align:left;
}
#u13 {
  position:absolute;
  left:15px;
  top:8px;
  width:114px;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:30px;
}
#u15 {
  position:absolute;
  left:231px;
  top:0px;
  width:233px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:229px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:144px;
}
#u17 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:144px;
}
#u18 {
  position:absolute;
  left:2px;
  top:64px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:144px;
}
#u19 {
  position:absolute;
  left:100px;
  top:30px;
  width:131px;
  height:144px;
  text-decoration:underline;
  color:#0000FF;
  text-align:left;
}
#u20 {
  position:absolute;
  left:15px;
  top:64px;
  width:114px;
  word-wrap:break-word;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:144px;
}
#u22 {
  position:absolute;
  left:231px;
  top:30px;
  width:233px;
  height:144px;
  text-decoration:underline;
  color:#0000FF;
  text-align:left;
  line-height:28px;
}
#u23 {
  position:absolute;
  left:15px;
  top:2px;
  width:216px;
  word-wrap:break-word;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u29 {
  position:absolute;
  left:0px;
  top:174px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-decoration:underline;
  color:#0000FF;
}
#u30 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u31 {
  position:absolute;
  left:100px;
  top:174px;
  width:131px;
  height:30px;
  text-align:left;
}
#u32 {
  position:absolute;
  left:15px;
  top:7px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:30px;
}
#u33 {
  position:absolute;
  left:231px;
  top:174px;
  width:233px;
  height:30px;
}
#u34 {
  position:absolute;
  left:15px;
  top:7px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:175px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u35 {
  position:absolute;
  left:61px;
  top:239px;
  width:101px;
  height:175px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u36 {
  position:absolute;
  left:2px;
  top:80px;
  width:97px;
  word-wrap:break-word;
}
#u37_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u37 {
  position:absolute;
  left:61px;
  top:207px;
  width:113px;
  height:28px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u39_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u39 {
  position:absolute;
  left:52px;
  top:88px;
  width:112px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
