body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:857px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u685 {
  position:absolute;
  left:215px;
  top:147px;
  width:98px;
  height:40px;
  font-size:16px;
}
#u686 {
  position:absolute;
  left:2px;
  top:10px;
  width:94px;
  word-wrap:break-word;
}
#u687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:809px;
  height:70px;
}
#u687 {
  position:absolute;
  left:48px;
  top:207px;
  width:809px;
  height:70px;
  font-size:14px;
}
#u688 {
  position:absolute;
  left:0px;
  top:0px;
  width:809px;
  word-wrap:break-word;
}
#u689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:809px;
  height:53px;
}
#u689 {
  position:absolute;
  left:48px;
  top:413px;
  width:809px;
  height:53px;
  font-size:14px;
}
#u690 {
  position:absolute;
  left:0px;
  top:0px;
  width:809px;
  word-wrap:break-word;
}
#u691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u691 {
  position:absolute;
  left:215px;
  top:345px;
  width:98px;
  height:40px;
  font-size:16px;
}
#u692 {
  position:absolute;
  left:2px;
  top:10px;
  width:94px;
  word-wrap:break-word;
}
#u693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:22px;
}
#u693 {
  position:absolute;
  left:48px;
  top:156px;
  width:157px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u694 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  word-wrap:break-word;
}
#u695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:22px;
}
#u695 {
  position:absolute;
  left:48px;
  top:354px;
  width:157px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u696 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  word-wrap:break-word;
}
#u697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:2px;
}
#u697 {
  position:absolute;
  left:48px;
  top:307px;
  width:809px;
  height:1px;
}
#u698 {
  position:absolute;
  left:2px;
  top:-8px;
  width:805px;
  visibility:hidden;
  word-wrap:break-word;
}
