body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:820px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u310_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:702px;
}
#u310 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:702px;
}
#u311 {
  position:absolute;
  left:2px;
  top:343px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u312_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:120px;
}
#u312 {
  position:absolute;
  left:407px;
  top:279px;
  width:377px;
  height:120px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:17px;
  color:#1E1E1E;
  line-height:24px;
}
#u313 {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  word-wrap:break-word;
}
#u314 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u315_div {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:123px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u315 {
  position:absolute;
  left:411px;
  top:419px;
  width:248px;
  height:123px;
}
#u316 {
  position:absolute;
  left:2px;
  top:54px;
  width:244px;
  visibility:hidden;
  word-wrap:break-word;
}
#u317_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u317 {
  position:absolute;
  left:499px;
  top:435px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u318 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u319_div {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#5E5E5E;
}
#u319 {
  position:absolute;
  left:438px;
  top:458px;
  width:207px;
  height:38px;
  font-size:16px;
  color:#5E5E5E;
}
#u320 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  word-wrap:break-word;
}
#u321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:2px;
}
#u321 {
  position:absolute;
  left:421px;
  top:504px;
  width:231px;
  height:1px;
}
#u322 {
  position:absolute;
  left:2px;
  top:-8px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u323_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u323 {
  position:absolute;
  left:518px;
  top:515px;
  width:37px;
  height:22px;
  font-size:18px;
}
#u324 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:264px;
}
#u325 {
  position:absolute;
  left:407px;
  top:16px;
  width:413px;
  height:264px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:17px;
  color:#1E1E1E;
  line-height:24px;
}
#u326 {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  word-wrap:break-word;
}
#u327 {
  position:absolute;
  left:11px;
  top:652px;
  width:106px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u328 {
  position:absolute;
  left:258px;
  top:652px;
  width:106px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u329 {
  position:absolute;
  left:11px;
  top:257px;
  width:353px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
